/* font-family: 'Montserrat', sans-serif;
font-family: 'Vidaloka', serif; 
font-family: 'Italiana', serif;*/


/* general code */

body {
    background-color: #8C998D;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 36px;
}


/* Styling header */

header {
    height: 100px;
}

#spadeImg {
    position: absolute;
    top: 62px;
    left: 60px;
}

h1 {
    padding-top: 20px;
    padding-left: 120px;
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 3px;
}


/* code for info button and overlay */

#infoSection {
    display: flex;
    position: absolute;
    top: 60px;
    right: 70px;
}

#infoSection p {
    margin-right: 15px;
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    font-size: 18px;
}

#infoBtn {
    margin-top: 3px;
    color: #525252;
    background-color: #F4F4F4;
    width: 45px;
    height: 45px;
    border: 0px;
    border-radius: 40px;
    font-family: 'Italiana', serif;
    font-weight: 700;
    font-size: 30px;
}

#infoBtn:hover {
    color: white;
    background-color: #69776A;
    cursor: pointer;
}

#howToPlay:hover {
    cursor: pointer;
}

#infoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    background-color: rgb(0, 0, 0, 0.5);
}

#infoOverlay article {
    box-sizing: border-box;
    background-color: #8C998D;
    border-radius: 20px;
    padding: 40px;
    width: 850px;
    height: 530px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#infoOverlay p {
    font-size: 18px;
    line-height: 30px;
}

#backBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #F4F4F4;
    background-color: #69776A;
    width: 35px;
    height: 35px;
    border: 0px;
    border-radius: 40px;
    font-family: 'Italiana', serif;
    font-weight: 700;
    font-size: 20px;
}

#backBtn:hover {
    color: white;
    background-color: #556056;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}


/* styling main gameplay area */

#gameplay {
    margin-left: 150px;
}

#deck {
    position: absolute;
    top: 290px;
    right: 150px;
}

#startgame {
    position: absolute;
    top: 300px;
    left: 500px;
    padding: 25px 50px;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    color: #525252;
    background-color: rgb(230, 230, 230);
    text-transform: uppercase;
}

#startgame:hover {
    color: white;
    background-color: #556056;
    cursor: pointer;
}

#quitBtn {
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid white;
    color: white;
    background-color: #8C998D;
    text-transform: uppercase;
}

#quitBtn:hover {
    color: #525252;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}


/* styling the dealer's section */

#dealer {
    padding-top: 20px;
    display: flex;
}

#dSection h2 {
    margin: 0;
}

#dScoreBtn {
    margin-top: 10px;
    margin-right: 20px;
    padding: 20px 40px;
    width: 220px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #525252;
    background-color: rgb(230, 230, 230);
    text-transform: uppercase;
    transition-property: opacity, visibility;
    transition-duration: 500ms;
    transition-timing-function: ease;
}

#dScoreBtn:hover {
    cursor: pointer;
    color: white;
    background-color: #69776A;
    transition-property: opacity, visibility;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

#dCards {
    display: flex;
}


/* styling the player's section */

#player {
    padding-top: 70px;
    display: flex;
}

#pSection h2 {
    margin: 0;
}

#pScoreBtn {
    margin-top: 10px;
    margin-right: 20px;
    padding: 20px 40px;
    width: 220px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #525252;
    background-color: rgb(230, 230, 230);
    text-transform: uppercase;
    transition-property: opacity, visibility;
    transition-duration: 500ms;
    transition-timing-function: ease;
}

#pScoreBtn:hover {
    cursor: pointer;
    color: white;
    background-color: #69776A;
    transition-property: opacity, visibility;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

#pCards {
    display: flex;
}

#pButtons {
    position: absolute;
    top: 650px;
    left: 152px;
}

#pButtons button {
    padding: 15px 40px;
    margin: 0 10px;
    border: 0;
    border-radius: 10px;
    font-weight: 600;
    color: #525252;
    background-color: rgb(230, 230, 230);
}

#pButtons button:hover {
    color: white;
    background-color: #556056;
    cursor: pointer;
}


/* styling card flip */


/* .card {
    background-color: transparent;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    width: 130px;
    height: 210px;
}

.cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cardFlipped {
    transform: rotateY(180deg)
}

.cardFaceBack,
.cardFaceFront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cardFaceFront {
    transform: rotateY(180deg);
} */


/* .card {
    perspective: 1000px;
    width: 140px;
    height: 210px;
}

.cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.cardInner.is-flipped {
    transform: rotateY(180deg);
}
.cardInnerisFlipped {
    transform: rotateY(180deg);
}

.cardFace {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.cardFaceFront {
    transform: rotateY(180deg);
} */


/* styling results overlay */

#resultOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    background-color: rgba(0, 0, 0, 0.50);
}

#resultOverlay article {
    box-sizing: border-box;
    background-color: #8C998D;
    border-radius: 20px;
    padding: 60px;
    width: 400px;
    height: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#resultOverlay p {
    font-size: 18px;
    line-height: 30px;
}

#resultQuitBtn {
    position: absolute;
    top: 250px;
    left: 150px;
    color: #F4F4F4;
    background-color: #69776A;
    width: 90px;
    height: 35px;
    border: 0px;
    border-radius: 10px;
    font-family: 'Italiana', serif;
    font-weight: 700;
    font-size: 20px;
}

#resultQuitBtn:hover {
    color: white;
    background-color: #556056;
    cursor: pointer;
}


/* styling footer */

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 30px;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 4px;
}


/* styling the user test stuff */

#taskSection {
    display: flex;
    position: absolute;
    top: 60px;
    left: 500px;
}

#taskBtn {
    padding: 25px 50px;
    border: none;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #525252;
    background-color: rgb(230, 230, 230);
    text-transform: uppercase;
}

#taskBtn:hover {
    color: white;
    background-color: #69776A;
    cursor: pointer;
}

#taskOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    background-color: rgb(0, 0, 0, 0.5);
}

#taskOverlay article {
    box-sizing: border-box;
    background-color: #8C998D;
    border-radius: 20px;
    padding: 40px;
    width: 850px;
    height: 540px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#taskOverlay p {
    font-size: 14px;
    line-height: 20px;
}

#taskBackBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #F4F4F4;
    background-color: #69776A;
    width: 35px;
    height: 35px;
    border: 0px;
    border-radius: 40px;
    font-family: 'Italiana', serif;
    font-weight: 700;
    font-size: 20px;
}

#taskBackBtn:hover {
    color: white;
    background-color: #556056;
    cursor: pointer;
}


/* styling the user test results page */

#userTestBody {
    background-color: rgb(230, 230, 230);
    color: rgb(36, 36, 36);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#userTestBody h1 {
    margin-left: auto;
    margin-right: auto;
    color: rgb(36, 36, 36);
    font-family: 'Italiana', serif;
    font-weight: 800;
    text-transform: uppercase;
}

#userTestBody h2 {
    color: rgb(36, 36, 36);
    font-size: 28px;
    font-family: 'Italiana', serif;
}

#userTestHeader {
    padding: 40px 80px;
}

#userTestMain {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#userTestMain section {
    padding-top: 40px;
    padding-bottom: 20px;
}

#userTestMain section p {
    font-size: 18px;
}

#userTestMain section div {
    display: flex;
    justify-content: center;
}

#userTestMain section div img {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    width: 500px;
}

#userTestFooter {
    margin-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

#userTestFooter a {
    margin: 30px;
    color: rgb(36, 36, 36);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}