body {
    margin: auto;
    font-family: Montserrat, sans-serif;
    background-color: rgb(241, 241, 241);
}

img {
    width: 1000px;
    padding-right: 10px;
}

p {
    font-size: 20px;
    width: 1000px;
    padding: 0px 0px 50px 150px;
    line-height: 32px;

}

ul {
    padding: 0px 0px 50px 180px;

}

ul li {
    font-size: 20px;
    padding-bottom: 10px;
}

h1 {
    text-transform: uppercase;
    padding: 25px 150px;
}

h2 {
    padding: 0px 150px;
}

.images {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
